In [1]:
import numpy as np
import pandas as pd

In [3]:
dict1 = {
    "tabrej":["software engineer"],
    "arzoo":[45],
    "shubham":["java developer"]
}

In [4]:
print(dict1)

{'tabrej': ['software engineer'], 'arzoo': [45], 'shubham': ['java developer']}

In [5]:
df = pd.DataFrame(dict1)

In [6]:
df

              tabrej  arzoo         shubham
0  software engineer     45  java developer